obj/Debug/net452/fancytools.csprojAssemblyReference.cache
obj/Debug/net452/fancytools.AssemblyInfo.cs
obj/Debug/net452/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
obj/Debug/net452/fancytools.AssemblyInfoInputs.cache
obj/Debug/net452/fancytools.pdb
obj/Debug/net452/fancytools.dll
obj/Debug/net452/fancytools.csproj.FileListAbsolute.txt
obj/Debug/net452/fancytools.csproj.CoreCompileInputs.cache
obj/Debug/net452/fancytools.csproj.CopyComplete
obj/Debug/net452/fancytools.assets.cache
obj/project.nuget.cache
obj/project.assets.json
obj/fancytools.csproj.nuget.g.targets
obj/fancytools.csproj.nuget.g.props
obj/fancytools.csproj.nuget.dgspec.json
bin/Debug/net452/VSSurvivalMod.dll
bin/Debug/net452/VSEssentials.dll
bin/Debug/net452/VSCreativeMod.dll
bin/Debug/net452/VintagestoryAPI.xml
bin/Debug/net452/VintagestoryAPI.dll
bin/Debug/net452/fancytools.pdb
bin/Debug/net452/fancytools.dll
.directory
