obj/Debug/net452/fancytools.csprojAssemblyReference.cache
obj/Debug/net452/fancytools.AssemblyInfo.cs
obj/Debug/net452/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
obj/Debug/net452/fancytools.AssemblyInfoInputs.cache
